<ion-header>
    <ion-navbar>
        <ion-title>分类</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="type-body">
        <div class="left">
            <div class="type" *ngFor="let type of types" [ngClass]="{'active':type.typeId==active}" (click)="getListByType(type.typeId)">{{type.typeName}}</div>
        </div>
        <div class="right">
            <ion-row>
                <ion-col col-4 *ngFor="let item of recList">
                    <img [src]="item.img">
                    <p>{{item.name}}</p>
                    <div class="price">
                        <span class="now-price">￥100.00</span>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
