<ion-header>
    <ion-navbar>
        <ion-searchbar (tap)="goSearch()"></ion-searchbar>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides pager>
        <ion-slide style="background-color: green">
            <img src="./assets/imgs/slide03.jpg">
        </ion-slide>
        <ion-slide style="background-color: blue">
            <img src="./assets/imgs/slide02.png">
        </ion-slide>
        <ion-slide style="background-color: red">
            <img src="./assets/imgs/slide03.jpg">
        </ion-slide>
    </ion-slides>

    <!-- 精品推荐 -->
    <div class="type">精品推荐</div>
    <ion-scroll class="porduct" scrollX="true">
        <ul [ngStyle]="{'width':porducts_width}">
            <li *ngFor="let item of porducts" (click)="pdetail()">
                <img [src]="item.img">
                <p>{{item.name}}</p>
            </li>
        </ul>
    </ion-scroll>

    <!-- 猜你喜欢 -->
    <div class="type">猜你喜欢</div>
    <ion-row class="like">
        <ion-col col-6 *ngFor="let item of porducts" (click)="pdetail()">
            <img [src]="item.img">
            <p>{{item.name}}</p>
            <div class="price">
                <span class="now-price">￥100.00</span>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
